.testimonials {
  padding: 3rem 1rem;
  background-color: #1b1b1b;
}

.testimonials h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 2rem;
  background: linear-gradient(360deg, #00aaff, #ffd700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.testimonialGrid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  background: #2a2a2a;
  border-radius: 12px;
  padding: 1.5rem;
  color: #ccc;
  font-style: italic;
  box-shadow: 0 0 10px rgba(0, 170, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quote {
  margin-bottom: 1rem;
}
.quote:hover {
  background: linear-gradient(90deg, #00aaff, #ffd700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.footer {
  font-weight: bold;
  color: #eee;
  font-style: normal;
}
.rating {
  color: #ffffff;
  font-size: 0.9rem;
}

.stars {
  font-size: 1rem;
}
.div{
  align-self:flex-end;
}
