.whyChoose {
  padding: 3rem 1rem;
  background-color: #181818;
}

.whyChoose h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 2.25rem;
   background: linear-gradient(360deg,#00aaff, #ffd700 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  gap: 2rem;
}

.feature {
  flex-basis: 220px;
  text-align: center;
  color: #ccc;
}

.featureIcon {
  font-size: 3rem;
  color: #00aaff;
  margin-bottom: 0.75rem;
}

.featureTitle {
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #eee;
  font-size: 1.2rem;
}

.featureDesc {
  font-size: 1rem;
  color: #aaa;
}

@media (max-width: 768px) {
  .features {
    flex-direction: column;
    align-items: center;
  }
}
