.popular {
  padding: 3rem 1rem;
}

.popular h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 2.25rem;
  background: linear-gradient(360deg, #00aaff, #ffd700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.destinationsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background-color: #282828;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}
.card:hover {
  box-shadow: 0 0 10px rgba(255, 234, 0, 0.5);
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.cardContent {
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
}

.cardTitle {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #fff;
}

.rating {
  color: #ffcc00;
  font-size: 1.1rem;
}

.stars {
  font-size: 1.3rem;
}
